header {
  position: sticky;
  top: 0;
  height: 12svh;
  min-height: 5.5rem;
  background: var(--primary-background-color-alpha);
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 5;
  box-shadow: var(--box-shadow-secondary);
}
.header-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.header-title > img {
  height: 3rem;
}
.header-title h1 {
  display: none;
}
@media screen and (min-width: 365px) {
  .header-title > img {
    max-height: 2rem;
  }
  .header-title {
    font-size: 10px;
  }
  .header-title h1 {
    display: block;
  }
}

@media screen and (min-width: 632px) {
  .header-title > img {
    max-height: 3rem;
  }
  .header-title {
    justify-content: space-between;
    font-size: 12px;
  }
}

@media screen and (min-width: 1055px) {
  header {
    flex-direction: row;
  }
  .header-title h1 {
    display: block;
    font-size: 32px;
  }
}
