.body-footer {
  height: 8svh;
  background: var(--primary-background-color);
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  align-items: center;
  z-index: 5;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  font-weight: 500;
}

.check-code {
  display: flex;
  align-items: center;
  gap: 5px;
}

.check-code > p {
  white-space: nowrap;
}

.body-footer img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}
.body-footer > a {
  line-height: 1.2;
  font-style: normal;
  font-weight: 700;
  color: var(--primary-text-color);
}
.body-footer > p {
  display: none;
}

@media screen and (min-width: 648px) {
  .body-footer > p {
    display: block;
  }
}
